{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
    <br>
    <style>
     .notes-column {
        padding-left: 20px; /* Ajustez cette valeur selon vos besoins */
    }
</style>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center">Users</h1>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                     <th class="notes-column">Notes</th>
                         <th>Etat</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.email }}</td>
                       <td>
    {% if user.notes %}
        <ul>
            {% for note in user.notes %}
                <li>{{ note.data }}</li>
            {% endfor %}
        </ul>
    {% else %}
        Aucune note disponible
    {% endif %}
</td>
                    <td>
                          <form method="post" action="{{ url_for('views.toggle_user', id=user.id) }}" style="display: inline-block; margin-right: 5px;">
        <input type="hidden" name="id" value="{{ user.id }}">
        <button type="submit" class="btn {% if user.is_active %}btn-success{% else %}btn-danger{% endif %}">
            {% if user.is_active %}
                Actif
            {% else %}
                Désactif
            {% endif %}
        </button>
    </form>
                    </td>

                      <td>


    <form method="post" action="{{ url_for('views.delete_user', id=user.id) }}" style="display: inline-block;">
        <input type="hidden" name="id" value="{{ user.id }}">
        <button type="submit" class="btn btn-primary">Supprimer</button>
    </form>
</td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
